name: x64-macos
on: push
jobs:
  x64-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Build
      env:
        MACOS: 1
      run: |
        ./build.sh
    - name: Setup directory with artifacts
      shell: bash
      run: |
        export RDIR=ScriptChecker
        mkdir $RDIR
        cp script_syntax_check $RDIR/
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: ScriptChecker
        path: ScriptChecker/
